<<<<<<< HEAD
header {
    background-image: url(../img/933376-grizzly-bear.jpg);
    width: 100%;
    height: 500px;
}

header div {
    margin-left: 100px;
}

#Avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: slategray;
}

header div p {
    font-size: 32px;
    font-family: sans-serif;
    color: white;
}
=======
main {
    color: gray;
    font-family: Helvetica, sans-serif;
    border: darkgray 10px solid;
    margin: 0 auto;
    padding: 10px;
}
section {
    padding: 20px 60px 60px 60px;
}
footer {
    font-size: 10px;
}
>>>>>>> origin/master
